body {
  font-family: Arial, sans-serif;
}

.user-list-container,
.add-user-container,
.edit-user-container,
.view-user-container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table td a {
  padding-left: 5px;
}

table td button {
  margin-left: 5px;
}

table th {
  background-color: #f4f4f4;
}

.btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.search-panel{
  margin-top: 15px;
}
.search-panel input {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}
.filter-tabs{
  margin-top: 5px;
}
.filter-tabs button {
  margin-right: 10px;
  padding: 5px;
}
.filter-tabs .acctive-button {
color: rgb(8, 204, 8);
}
.pagination-controls {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 10px;
}

.pagination-controls span{
  margin-top: 10px;
}